# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.ConsoleApplication.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\seung\Desktop\test\CSharp\ConsoleApplication\.idea\.idea.ConsoleApplication\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
